/* Custom font */

@font-face {
  font-family: "Gilroy";
  src: url("/font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/font/Gilroy-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Gilroy";
  src: url("/font/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --primary-color: #faa94d;
  --secondary-color: #f8894b;
  --territorial-color: #f0f0f0;

  --dark-color: #333;
  --dark-gray-color: #7a7a7a;
  --light-color: #f4f4f4;

  --primary-bg-color: var(--light-color);
  --secondary-bg-color: var(--dark-color);
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* Basic body styling */
body {
  font-family: "Gilroy", Helvetica, sans-serif;
  line-height: 1.6;
  background-color: var(--primary-bg-color);
  color: var(--dark-color);
  min-height: 900px;
}

h2 {
  font-weight: bold;
}

.btn {
  min-width: max-content;
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--light-color);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: scale 0.1s ease;
}

.btn:hover {
  background: linear-gradient(
    180deg,
    var(--secondary-color),
    var(--primary-color)
  );
  scale: 1.02;
}

.btn:active {
  scale: 0.9;
}

/* Containers for the LeaderBoard */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  min-width: min-content;
}

.header-container,
.hero-container,
.features-container,
.app-container,
.reviews-container,
.newsletter-container,
.footer-container,
.footer-tac {
  width: 80%;
  margin: 0 auto;
}

#header,
#hero,
#features,
#app,
#reviews,
#newsletter,
#footer {
  width: 100%;
  padding: 2rem 0;
}

/* Header & Footer Nav */

.header-container,
.footer-container {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.75rem;
  padding: 2rem 0;
  gap: 1rem;
}

.logo-container,
.nav-container,
.cta-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-img {
  object-fit: contain;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}

.nav-links {
  color: var(--dark-color);
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links:hover {
  color: var(--primary-color);
}

/* Hero styling */

#hero .logo-container {
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  width: 40%;
  height: 80vh;
  min-height: min-content;
  padding: 3rem;
}

.hero-title {
  width: 100%;
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  color: var(--dark-gray-color);
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.btn-light {
  background: var(--light-color);
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

.btn-light:hover {
  background: var(--light-color);
}

/* Features section */

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.features-grid {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 750px;
}

.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.feature-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border-radius: 12px;
  gap: 4rem;
}

.feature-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-box img {
  object-fit: cover;
  width: 100%;
}

/* App section */

#app {
  background: linear-gradient(
    180deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.app-box {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-section-dark {
  text-align: right;
  font-size: 3rem;
  translate: 0 -30%;
}

.app-section-light {
  color: var(--light-color);
  text-align: left;
  font-size: 3rem;
  translate: -40%;
}

.app-heading {
  min-width: max-content;
}

.app-sub-box {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  gap: 1.5rem;
}

.app-socials {
  width: 50%;
  display: flex;
  gap: 1rem;
}

.app-description {
  width: 50%;
  min-width: 150px;
}

.app-img {
  object-fit: cover;
  width: 100%;
  /* min-width: 360px; */
}

.app-socials img {
  object-fit: cover;
  height: 3.2rem;
  padding: 0.7rem;
  border-radius: 12px;
  background-color: var(--light-color);
}

.app-socials img:hover {
  scale: 1.05;
}

/* Reviews section */
.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.reviews-grid {
  display: flex;
  gap: 2rem;
}

.review-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  background-color: var(--territorial-color);
  padding: 1rem;
  border-radius: 12px;
}

.review-item img {
  height: 2rem;
  width: min-content;
}

.review-author {
  margin-top: 3rem;
}

/* Newsletter section */
#newsletter {
  background: linear-gradient(
    180deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  color: var(--light-color);
  padding: 4em 0;
}

.newsletter-container .cta {
  width: max-content;
  background: var(--light-color);
  color: var(--dark-color);
}

.newsletter-heading {
  min-width: max-content;
}

/* Footer section */

#footer {
  background-color: var(--territorial-color);
}

.footer-tac {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  border-top: var(--dark-color) 1px solid;
}

.tac-box {
  display: flex;
  gap: 1rem;
}

.tac-link {
  color: inherit;
  text-decoration: none;
}

/* Input section */
.hero-input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  border: var(--primary-color) 1px solid;
  border-radius: 12px;
}

.input-container input {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 12px;
  background-color: inherit;
  outline: none;
  font-size: larger;
}

.input-container button {
  width: min-content;
  border: none;
  background: none;
}

.input-container button:hover {
  background: none;
}

.input-container img {
  padding: 1rem;
}

/* Login section */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.forgot-pass {
  color: var(--dark-gray-color);
  text-decoration: none;
}

.login-container .btn {
  padding: 1rem;
}
